*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
#head {
    background-color:#009688;
}
#head2{
    width: 90%;
    margin: 0px auto;
    overflow: hidden;
    zoom: 1;
}
#left{
    float: left;
    color: white;
    font-size: 16px;
    line-height: 70px;
    font-weight: 600;
}
#right{
    float: right;
    overflow: hidden;
    zoom: 1;
}
#right a{
    color: white;
    font-size: 16px;
    line-height: 70px;
    font-weight: 600;
    margin-left: 50px;
    float: right;
}
#main_box{
    width: 78%;
    margin: 0px auto;
    margin-top: 90px;
    overflow: hidden;
    zoom: 1;
}
#log_in{
    font-size: 35px;
    font-weight: bold;
    color: #00675b;
    margin-bottom: 45px;
}
#form{
    float: left;
    width: 700px;
    overflow: hidden;
    zoom: 1;
}
.input_box2{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.input_box{
    position: relative;
}
.input_box span{
    display: none;
    position: absolute;
    top: 6px;
    left: 15px;
    font-size: 8px;
    color: #66b5ac;
}
.text{
    float: left;
    width: 300px;
    padding: 20px 15px;
    border-radius: 15px;
    border: 2px solid #2b998d;
    font-size: 16px;
    outline: none;
}
#age{
    width: 126px;
}
#card_num{
    width: 126px;
}
#gender{
    width: 160px;
}
#grade{
    width: 160px;
}
#type{
    width: 160px;
}
#class{
    width: 160px;
}
#submit{
    width: 334px;
    padding: 20px 15px;
    margin-top: 60px;
    float: left;
    border-radius: 15px;
    text-align: left;
    background-color: #52c6b7;
    color: white;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    line-height: 30px;
}
#form a{
    float: right;
}
.input_box{
    overflow: hidden;
    zoom: 1;
}
#submit1{
    overflow: hidden;
    zoom: 1;
    position: relative;
}
#submit1 span{
    font-size: 25px;
    position: absolute;
    right: 35px;
    bottom: 20px;
    line-height: 30px;
    color: white;
    font-weight: bold;
}
#form a{
    margin-top: 80px;
    color: #196b4d;
    line-height: 30px;
    margin-right: 25px;
}
#box2{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#box2 div{
    width: 78%;
    font-size: 12px;
    margin: 0px auto;
    line-height: 80px;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    background-image: url("../aaa_image/register/undraw_Access_account_re_8spm.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 100%;
    background-position-y: 99%;
    background-color: #fafafa;
}