*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
#head {
    background-color:#009688;
}
#head2{
    width: 90%;
    margin: 0px auto;
    overflow: hidden;
    zoom: 1;
}
#left{
    float: left;
    color: white;
    font-size: 16px;
    line-height: 70px;
    font-weight: 600;
}
#right{
    float: right;
    overflow: hidden;
    zoom: 1;
}
#right a{
    color: white;
    font-size: 16px;
    line-height: 70px;
    font-weight: 600;
    margin-left: 50px;
    float: right;
}
#box2{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#main_box{
    width: 78%;
    margin: 0px auto;
    margin-top: 90px;
}
#title2{
    font-size: 35px;
    font-weight: bold;
    color: #00675b;
}
#panel{
    margin-top: 40px;
    overflow: hidden;
    zoom: 1;
}
.same_panel{
    overflow: hidden;
    zoom: 1;
    width: 645px;
}
#panel a{
    display: inline-block;
    width: 150px;
    border-radius: 20px;
    border: none;
    text-align: left;
    font-size: 22px;
    padding: 20px 15px;
    outline: none;
    overflow: hidden;
    zoom: 1;
    font-weight: bold;
    line-height: 30px;
    float: left;
}
#bottom_box{
    margin-top: 50px;
}
.same_a{
    margin-right: 35px;
    margin-bottom: 30px;
    background-color: #009688;
    color: white;
}
.bottom_a{
    color: #00665a;
    background-color: #e6e6e6;
}
#panel #last_block{
    float: right;
    background-color: #e6e6e6;
    color: #ff2929;
}
#panel a b{
    float: right;
}
#box2 div{
    width: 78%;
    font-size: 12px;
    margin: 0px auto;
    line-height: 80px;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    background-image: url("../aaa_image/home/undraw_book_lover_mkck.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 100%;
    background-position-y: 100%;
    background-color: #fafafa;
}