<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="../insert_application.php" method="get">
        <input type="text" name="user_name" placeholder="user_name">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="age" placeholder="age">
        <input type="text" name="id_card" placeholder="id_card">
        <input type="text" name="gender" placeholder="gender">
        <input type="text" name="password" placeholder="password">
        <input type="text" name="state" placeholder="state">
        <input type="text" name="auditor" placeholder="auditor">
        <input type="text" name="phone_number" placeholder="phone_number">
        <input type="text" name="class" placeholder="class">
        <input type="text" name="grade" placeholder="grade">
        <input type="submit" value="提交">
    </form>
</body>
</html>